<?=$this->fetch('_header.phtml', $header); ?>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="center-align">
          <?=ucfirst($views);?>
        </h2>
      </div>
    </div>
    <?php if(!is_null($correcto)):?>
    <script>
      feedback = "<?=$correcto?>";
    </script>
    <?php endif;?>
    <div class="row">
      <form class="col s12" action="<?=$searchUrl?>" method="get">
        <div class="row">
          <div class="col s12 m7 l5 offset-m2 offset-l3">
            <div class="input-field">
              <input type="text" id="q" name="q_<?=$nameSingular?>" required class="validate">
              <label for="q_<?=$nameSingular?>">Buscar
                <?=$nameSingular?>
              </label>
            </div>
          </div>
          <div class="col s12 m1 l1">
            <div class="input-field">
              <button class="btn waves-effect waves-light" type="submit">
                <i class="material-icons">search</i>Buscar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <?=$this->fetch("$views/listar.phtml", $data); ?>
      <br>
      <br>
  </div>
  <?=$this->fetch('_footer.phtml', $data); ?>