<?=$this->fetch('_header.phtml', $header); ?>

  <div class="row">
    <div class="col s12">
      <?php if (isset($persona)) : ?>
      <h2 class="center-align">Editar
        <small>
          <?=htmlspecialchars($persona['nombre'])?>
        </small>
      </h2>
      <?php else : ?>
      <h2 class="center-align">Registrar
        <?=$tipo ?? 'persona'?>
      </h2>
      <?php endif; ?>
    </div>
  </div>

  <div class="row">
    <form method="post" class="col s12 m8 offset-m2">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input type="hidden" name="id" value="<?php echo isset($persona['id']) ? htmlspecialchars($persona['id']) : '" disabled="disabled'?>">
          <input name="nombre" id="nombre" type="text" class="validate" autocomplete="off" required value="<?=htmlspecialchars($persona['nombre'] ?? '')?>">
          <label for="nombre" data-error="Debes completar este campo">Nombre completo o Razón social (requerido)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">assignment_ind</i>
          <input name="rfc" id="rfc" type="text" pattern="^([A-ZÑ&]{3,4}) ?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$"
            class="validate" autocomplete="off" oninput="this.value = this.value.toUpperCase();" value="<?=htmlspecialchars($persona['rfc'] ?? '')?>">
          <label for="rfc">RFC (opcional)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input name="correo" id="email" type="email" class="validate" autocomplete="off" value="<?=htmlspecialchars($persona['correo'] ?? '')?>">
          <label for="email">Email (opcional)</label>
        </div>
      </div>
      <div class="row">
        <fieldset class="col s12">
          <legend>Tipo de persona:</legend>
          <div class="row">
            <?php
            $tipos=['cliente', 'empleado', 'proveedor'];
            foreach($tipos as $t):
          ?>
              <div class="col s6">
                <?php if (isset($tipo) && $tipo == $t || isset($persona) && in_array($t, $persona['tipo'])): ?>
                <input type="hidden" name="tipo[]" value="<?=$t?>">
                <input type="checkbox" id="tipo_<?=$t?>" checked disabled>
                <?php else: ?>
                <input type="checkbox" name="tipo[]" value="<?=$t?>" id="tipo_<?=$t?>">
                <?php endif; ?>
                <label for="tipo_<?=$t?>">
                  <?=ucfirst($t)?>
                </label>
              </div>
              <?php endforeach;?>
          </div>
        </fieldset>
      </div>
      <h4>Teléfonos
        <small>(opcional)</small>
        <button id="add_telefono" class="btn-floating" type="button">
          <i class="material-icons">add</i>
        </button>
      </h4>
      <div id="telefonos">
        <div class="telefono">
          <div class="row">
            <div class="input-field col l4">
              <input name="telefonos[0][numero]" type="text">
              <label for="numero">Número</label>
            </div>
            <div class="input-field col l3">
              <input name="telefonos[0][extension]" type="text">
              <label for="extension">Extensión (opcional)</label>
            </div>
            <div class="input-field col l4">
              <input name="telefonos[0][tipo]" type="text">
              <label for="tipoTelefono">Tipo (requerido)</label>
            </div>
            <div class="col l1 right">
              <button class="btn-floating red remove_telefono" type="button" <?php if (count($telefonos ?? [])<1) { echo 'disabled'; }?>>
                <i class="material-icons">delete_forever</i>
              </button>
            </div>
          </div>
        </div>
        <?php
        if (isset($telefonos) && count($telefonos) > 0) :
            $index = 0;
            foreach ($telefonos as $telefono) :
                $index++;
        ?>
          <div class="telefono">
            <div class="row">
              <div class="input-field col l4">
                <input name="telefonos[<?=$index?>][numero]" type="text" value="<?=htmlspecialchars($telefono['numero'])?>">
                <label for="numero">Número</label>
              </div>
              <div class="input-field col l3">
                <input name="telefonos[<?=$index?>][extension]" type="text" value="<?=htmlspecialchars($telefono['extension'])?>">
                <label for="extension">Extensión (opcional)</label>
              </div>
              <div class="input-field col l4">
                <input name="telefonos[<?=$index?>][tipo]" type="text" value="<?=htmlspecialchars($telefono['tipo'])?>">
                <label for="tipoTelefono">Tipo (requerido)</label>
              </div>
              <div class="col l1 right">
                <button class="btn-floating red remove_telefono" type="button">
                  <i class="material-icons">delete_forever</i>
                </button>
              </div>
            </div>
          </div>
          <?php                                                                                                                                                                                                                                                                                                                                     endforeach;?>
          <?php                                                                                                                                                                                                                       endif;?>
      </div>
      <h4>Dirección
        <small>(opcional)</small>
      </h4>
      <div id="direcciones" class="row">
        <div class="row">
          <div class="input-field col l12 s12">
            <input name="direccion[calle]" type="text" value="<?=htmlspecialchars($domicilio['calle'] ?? '')?>">
            <label for="calle">Calle (requerido)</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col l6">
            <input name="direccion[exterior]" type="text" value="<?=htmlspecialchars($domicilio['exterior'] ?? '')?>">
            <label for="exterior">Número exterior</label>
          </div>
          <div class="input-field col l6">
            <input name="direccion[interior]" type="text" value="<?=htmlspecialchars($domicilio['interior'] ?? '')?>">
            <label for="interior">Número interior</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col l8">
            <input name="direccion[colonia]" type="text" value="<?=htmlspecialchars($domicilio['colonia'] ?? '')?>">
            <label for="colonia">Colonia</label>
          </div>
          <div class="input-field col l4">
            <input name="direccion[cp]" type="text" value="<?=htmlspecialchars($domicilio['cp'] ?? '')?>">
            <label for="cp">Código Postal</label>
          </div>
        </div>
        <!--div class="row">
        <div class="input-field col s5">
          //TODO: Poner los estados en una tabla de la base de datos e implementarlo en la búsqueda de un punto en el mapa
          <select name="direccion[estado]" size="5">
            <option value="" disabled selected>Selecciona estado</option>
            <option value="Aguascalientes">Aguascalientes</option>
            <option value="Baja California">Baja California</option>
            <option value="Baja California Sur">Baja California Sur</option>
            <option value="Campeche">Campeche</option>
            <option value="Chiapas">Chiapas</option>
            <option value="Chihuahua">Chihuahua</option>
            <option value="Ciudad de México">Ciudad de México</option>
            <option value="Coahuila">Coahuila</option>
            <option value="Colima">Colima</option>
            <option value="Durango">Durango</option>
            <option value="Guanajuato">Guanajuato</option>
            <option value="Guerrero">Guerrero</option>
            <option value="Hidalgo">Hidalgo</option>
            <option value="Jalisco">Jalisco</option>
            <option value="México">México</option>
            <option value="Michoacán">Michoacán</option>
            <option value="Morelos">Morelos</option>
            <option value="Nayarit">Nayarit</option>
            <option value="Nuevo León">Nuevo León</option>
            <option value="Oaxaca">Oaxaca</option>
            <option value="Puebla">Puebla</option>
            <option value="Querétaro">Querétaro</option>
            <option value="Quintana Roo">Quintana Roo</option>
            <option value="San Luis Potosí">San Luis Potosí</option>
            <option value="Sinaloa">Sinaloa</option>
            <option value="Sonora">Sonora</option>
            <option value="Tabasco">Tabasco</option>
            <option value="Tamaulipas">Tamaulipas</option>
            <option value="Tlaxcala">Tlaxcala</option>
            <option value="Veracruz">Veracruz</option>
            <option value="Yucatán">Yucatán</option>
            <option value="Zacatecas">Zacatecas</option>
          </select>
          <label>Prioridad</label>
        </div>
      </div-->
      </div>
      <div class="row right">
        <div class="col s12">
          <button id="remove_address" class="btn waves-effect waves-light red" type="button">Quitar
            <i class="material-icons right">location_disabled</i>
          </button>
          <button id="find_address" class="btn waves-effect waves-light" type="button">Buscar
            <i class="material-icons right">location_searching</i>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <div id="map_container"></div>
          <div id="map"></div>
          <input name="direccion[latitud]" type="text" id="lat" hidden value="<?=$domicilio['latitud'] ?? ''?>">
          <input name="direccion[longitud]" type="text" id="lon" hidden value="<?=$domicilio['longitud'] ?? ''?>">
        </div>
      </div>

      <div class="row col s12">
        <div class="input-field">
          <?php if (isset($persona)) : ?>
          <button class="btn-large waves-effect waves-light right" type="submit">Guardar
            <i class="material-icons right">save</i>
          </button>
          <a class="btn-large waves-effect waves-light amber darken-2 right" href="javascript:window.history.back();">Cancelar
            <i class="material-icons right">clear</i>
          </a>
          <!-- Modal Trigger -->
          <button data-target="eliminacion" class="btn-large waves-effect waves-light red modal-trigger left">Eliminar
            <i class="material-icons right">delete</i>
          </button>
          <?php else: ?>
          <button class="btn-large waves-effect waves-light right" type="submit">Registrar
            <i class="material-icons right">send</i>
          </button>
          <?php endif; ?>
        </div>
      </div>
      <!-- Modal Structure -->
      <div id="eliminacion" class="modal">
        <div class="modal-content">
          <h4>Confirmar eliminación de persona</h4>
          <p>¿Está seguro que desea
            <span class="red-text">eliminar peramentemente</span> esta persona?</p>
          <span class="red-text">Esta acción no puede revertirse</span>
        </div>
        <div class="modal-footer">
          <button class="btn-large waves-effect waves-light green left" type="button" onclick="window.location='/personas/eliminar?id=<?=htmlspecialchars($persona['id'])?>';">Sí
            <i class="material-icons right">delete</i>
          </button>
          <button class="btn-large waves-effect waves-light red modal-action modal-close" type="button" style="float: right;">No
            <i class="material-icons right">block</i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <?=$this->fetch('_footer.phtml', $footer); ?>