      <footer class="page-footer">
        <div class="container">

        </div>
        <div class="footer-copyright">
          <div class="container">
            © 2017
          </div>
        </div>
      </footer>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
      <script src="/js/materialize.min.js" charset="utf-8"></script>
      <?php if (isset($scripts))
        foreach ($scripts as $script): ?>
            <script src="<?=$script?>" charset="utf-8"></script>
        <?php endforeach; ?>
      <script>
        $(document).ready(function(){
          $('select').material_select();
          $(".dropdown-button").dropdown({hover: false});
          $(".button-collapse").sideNav();
        });
        $('.timepicker').pickatime({
          default: 'now', // Set default time: 'now', '1:30AM', '16:30'
          fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
          twelvehour: true, // Use AM/PM or 24-hour format
          donetext: 'Acaptar', // text for done-button
          cleartext: 'Limpiar', // text for clear-button
          canceltext: 'Cancelar', // Text for cancel-button
          autoclose: false, // automatic close timepicker
          ampmclickable: true, // make AM PM clickable
          aftershow: function(){} //Function for after opening timepicker
        });
        $('.datepicker').pickadate({
          selectMonths: true, // Creates a dropdown to control month
          selectYears: 15, // Creates a dropdown of 15 years to control year,
          today: 'Hoy',
          format: 'dd-m-yyyy',
          clear: 'Limpiar',
          close: 'Aceptar',
          closeOnSelect: false // Close upon selecting a date,
        });
      </script>
      <script>
        if(typeof feedback !== 'undefined')
            Materialize.toast(feedback, 4000);
      </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBlrbIUtpkbSX-Yq67fn-jDrSHhY4_pHA&callback=initMap"></script>
      
    </body>
</html>
