<!DOCTYPE html>
<html lang="es">

    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="/css/global.min.css" media="screen,print" />
      <link type="text/css" rel="stylesheet" href="/css/dropdown.css" media="screen,print" />
      <link rel="stylesheet" type="text/css" href="/css/geocode.css">
      <?php if (isset($styles))
        foreach ($styles as $style): ?>
            <link href="<?=$style?>" rel="stylesheet" />
        <?php endforeach; ?>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title><?=$page_title?></title>
    </head>
    <body>
      <?php if(isset($_SESSION['usuario'])):?>
        <nav>
          <?php
            function active($file){
              if($_SERVER['REQUEST_URI'] === $file)
                echo 'class="active"';
            }
          ?>
          <div class="nav-wrapper">
            <a href="/" class="brand-logo">Estrategia Culinaria</a>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">

                <li <?php active('/agenda'); ?>><a href="/agenda">Agenda</a></li>

                <li <?php active('/eventos'); ?>><a href="/eventos">Eventos</a></li>

                <li <?php active('/servicios'); ?>><a href="/servicios">Servicios</a></li>

                <li <?php active('/insumos'); ?>><a href="/insumos">Insumos</a></li>

                <li><a class="dropdown-button" data-activates="personas1" data-beloworigin="true"><i class="large material-icons left">people</i>Personas</a></li>


                <li><a class="dropdown-button" data-activates="logout1" data-beloworigin="true"><i class="large material-icons left">account_circle</i><?=$_SESSION['usuario']?></a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">

              <li><a class="dropdown-button" data-activates="logout2" data-beloworigin="true"><i class="large material-icons left">account_circle</i><?=$_SESSION['usuario']?></a></li>

              <li <?php active('/agenda'); ?>><a href="/agenda">Agenda</a></li>

              <li <?php active('/eventos'); ?>><a href="/eventos">Eventos</a></li>

              <li <?php active('/servicios'); ?>><a href="/servicios">Servicios</a></li>

              <li <?php active('/insumos'); ?>><a href="/insumos">Insumos</a></li>

              <li><a class="dropdown-button" data-activates="personas2" data-beloworigin="true"><i class="large material-icons left">people</i>Personas</a></li>

            </ul>

          </div> <!-- Cierra barra de navegación-->
        </nav>
        <!--Dropdown structure-->
        <ul id="logout1" class="dropdown-content baja arregla">
          <li><a href="/cuentas/cuenta"><i class="tiny material-icons left">edit</i>Mi cuenta</a></li>
          <li <?php active('/cuentas'); ?>><a href="/cuentas"><i class="tiny material-icons left">settings</i>Cuentas del sistema</a></li>
          <li><a href="/logout"><i class="tiny material-icons left">power_settings_new</i>Cerrar sesión</a></li>
        </ul>
        <ul id="logout2" class="dropdown-content arregla">
          <li><a href="/cuentas/cuenta"><i class="tiny material-icons left">edit</i>Mi cuenta</a></li>
          <li <?php active('/cuentas'); ?>><a href="/cuentas"><i class="tiny material-icons left">settings</i>Cuentas del sistema</a></li>
          <li><a href="/logout"><i class="tiny material-icons left">power_settings_new</i>Cerrar sesión</a></li>
        </ul>


        <!--Dropdown structure-->
        <ul id="personas1" class="dropdown-content">
          <li <?php active('/proveedores'); ?>><a href="/proveedores">Proveedores</a></li>
          <li <?php active('/empleados'); ?>><a href="/empleados">Empleados</a></li>
          <li <?php active('/clientes'); ?>><a href="/clientes">Clientes</a></li>

        </ul>
        <ul id="personas2" class="dropdown-content">
          <li <?php active('/proveedores'); ?>><a href="/proveedores">Proveedores</a></li>
          <li <?php active('/empleados'); ?>><a href="/empleados">Empleados</a></li>
          <li <?php active('/clientes'); ?>><a href="/clientes">Clientes</a></li>
        </ul>

      <?php else: ?>
      <nav>
          <div class="nav-wrapper">
              <a href="http://www.estrategiaculinaria.com" class="brand-logo">Estrategia Culinaria</a>
            </div>
      </nav>
      <?php endif;?>
