<?=$this->fetch('_header.phtml', $header) ?>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="center-align"><?=ucfirst($namePlural)?></h2></div>
        </div>
        <div class="row">
            <form class="col s12" action="<?=$searchUrl?>" method="get">
                <div class="row">
                    <div class="col s12 m7 l5 offset-m2 offset-l3">
                        <div class="input-field">
                            <input type="text" id="q" name="q_<?=$nameSingular?>" required class="validate">
                            <label for="q">Buscar <?=$nameSingular?></label>
                        </div>
                    </div>
                    <script>
                        document.getElementById("q").focus();
                    </script>
                    <div class="col s12 m1 l1">
                        <div class="input-field">
                            <button class="btn waves-effect waves-light" type="submit">
                                <i class="material-icons">search</i>Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="row">
                <div class="col s12 m5 l4 offset-m1 offset-l2">
                    <a href="<?=$listUrl?>">
                        <div class="card action z-depth-3">
                            <div class="card-content">
                                <span class="card-title">Lista de <?=$namePlural?></span>
                                <p>Aquí puedes consultar los <?=$namePlural?> registrados.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s12 m5 l4">
                    <a href="<?=$adminRol?>">
                        <div class="card action z-depth-3">
                            <div class="card-content">
                                <span class="card-title">Administrar permisos de roles</span>
                                <p>Aquí puedes administrar los permisos de cada rol.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m5 l4 offset-m1 offset-l2">
                    <a href="<?=$addUrl?>">
                        <div class="card action z-depth-3">
                            <div class="card-content">
                                <span class="card-title">Registrar <?=$nameSingular?></span>
                                <p>Aquí puedes registrarle una <?=$nameSingular?> a un empleado.</p>
                            </div>
                        </div>
                    </a>
            </div>
        </div>
    </div>
</div>
<?=$this->fetch('_footer.phtml', $footer) ?>
