<?=$this->fetch('_header.phtml', $header); ?>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h2 class="center-align">Eventos</h2>
    </div>
  </div>
  <div class="row">
    <form class="col s12" action="<?=$searchUrl?>" method="get">
      <div class="row">
        <div class="col s12 m7 l5 offset-m2 offset-l3">
          <div class="input-field">
            <input type="text" id="q" name="q_<?=$nameSingular?>" required class="validate">
            <label for="q">Buscar <?=$nameSingular?></label>
          </div>
        </div>
        <div class="col s12 m1 l1">
          <div class="input-field">
            <button class="btn waves-effect waves-light" type="submit">
              <i class="material-icons">search</i>Buscar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <?php if(count($eventos) > 0): ?>
    <table class="responsive-table striped">
      <thead>
        <tr>
          <th>Nombre del evento</th>
          <th>Descripción</th>
          <th>Costo</th>
          <th>Lugar</th>
          <th>Fecha y hora</th>
          <th colspan="2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <?php foreach ($eventos as $eventos):?>
          <tr>
            <td><a href="/eventos/detalles/<?=$eventos['id']?>"><?=$eventos['nombre']?></a></td>
            <td><?=$eventos['descripcion']?></td>
            <td><?=$eventos['costos_fijos']?>FALTA CALCULAR LA SUMA DE SERVICIOS</td>
            <td><?=$eventos['lugar']?></td>
            <td><?=$eventos['fecha']?></td>
            <td><a href="/eventos/detalles/<?=$eventos['id']?>"><i class="material-icons">visibility</i></a></td>
            <td><a href="/eventos/editar/<?=$eventos['id']?>"><i class="material-icons">mode_edit</i></a></td>
          </tr>
        <?php endforeach;?>
      </tbody>
    </table>
  <?php else:?>
    <p>No se encontraron eventos</p>
  <?php endif;?>
  <ul class="pagination center">
    <li class="<?php echo $currentPage > 1 ? '' : 'disabled'?>"><a href="<?= $currentPage > 1? '/insumos/listar/'.($currentPage-1) : '#'?>"><i class="material-icons">chevron_left</i></a></li>
      <?php for($i = 1; $i < $pages; $i++):?>
       <li class="waves-effect<?php echo $i == $currentPage ? ' active' : ''?>"><a href="<?='/insumos/listar/'.$i?>"><?=$i?></a></li>
      <?php endfor;?>
    <li class="<?php echo $currentPage < $pages -1 ? '' : 'disabled'?>"><a href="<?= $currentPage < $pages -1 ? '/insumos/listar/'.($currentPage+1) : '#'?>"><i class="material-icons">chevron_right</i></a></li>
  </ul>      
  <br><br>
</div>
<?=$this->fetch('_footer.phtml', $data); ?>
