<?=$this->fetch('_header.phtml', $header) ?>
  <div class="row">
    <div class="col s12">
      <h2 class="center-align">Registrar evento</h2>
    </div>
  </div>

  <div class="row">
    <form method="post" class="col s12 m8 offset-m2">
      <div class="row">
        <div class="input-field col s12">
          <input type="hidden" name="cliente">
          <input id="cliente" type="text" class="validate" autocomplete="off" pattern="/^$/">
          <label for="cliente" data-error="Empieza a escribir el nombre de un cliente registrado y selecciónalo de la lista o deja el campo vacío.">Cliente</label>
          <div id="clienteLoader" class="progress" style="display: none;">
            <div class="indeterminate"></div>
          </div>  
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="nombre" name="nombre" type="text" class="validate" autocomplete="off" oninput="$('h2').text($(this).val())">
          <label for="nombre">Nombre evento</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea class="materialize-textarea" name="descripcion" id="descripcion" autocomplete="off"></textarea>
          <label for="descripcion">Descripción</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <input id="fecha" name="fecha" type="text" class="datepicker" autocomplete="off">
          <label for="fecha">Fecha</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="hora" name="hora" type="text" class="timepicker" autocomplete="off">
          <label for="hora">Hora</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <input id="personas" name="personas" type="number" class="validate" autocomplete="off">
          <label for="personas">Cantidad Personas</label>
        </div>
        <div class="input-field col s8">
          <i class="material-icons prefix">attach_money</i>
          <input id="costof" name="costos_fijos" type="text" class="validate" autocomplete="off">
          <label for="costof">Costos fijos</label>
        </div>
      </div>
      <h4>Dirección</h4>
      <div id="direcciones">
        <div class="row">
          <div class="input-field col l12 s12">
            <input id="calle" name="lugar[calle]" type="text">
            <label for="calle">Calle</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col l6">
            <input id="exterior" name="lugar[exterior]" type="text">
            <label for="exterior">Número exterior</label>
          </div>
          <div class="input-field col l6">
            <input id="interior" name="lugar[interior]" type="text">
            <label for="interior">Número interior</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col l8">
            <input id="colonia" name="lugar[colonia]" type="text">
            <label for="colonia">Colonia</label>
          </div>
          <div class="input-field col l4">
            <input id="cp" name="lugar[cp]" type="text">
            <label for="cp">Código Postal</label>
          </div>
        </div>
      </div>

      <div class="row right">
      <div class="col s12">
        <button id="remove_address" class="btn waves-effect waves-light red" type="button">Quitar
        <i class="material-icons right">location_disabled</i>
        </button>
        <button id="find_address" class="btn waves-effect waves-light" type="button">Buscar
        <i class="material-icons right">location_searching</i>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <div id="map_container"></div>
        <div id="map"></div>
        <input name="lugar[latitud]" type="text" id="lat" hidden value="<?=$lugar['latitud'] ?? ''?>">
        <input name="lugar[longitud]" type="text" id="lon" hidden value="<?=$lugar['longitud'] ?? ''?>">
      </div>
    </div>

      <h4>Servicios de evento
        <button id="add_servicio" class="btn-floating" type="button">
          <i class="material-icons">add</i>
        </button>
      </h4>
      <div class="row" id="servicios">
        <div class="row servicio">
          <div class="input-field col s12 l3">
            <input type="hidden" name="servicios[0][servicio]">
            <input type="text" class="autocomplete_servicio" autocomplete="off" title="Descripción">
            <label>Nombre del servicio</label>
          </div>
          <div class="input-field col s12 l3">
            <select name="servicios[0][proveedor]" required>
              <option disabled selected>Selecciona un proveedor</option>
            </select>
          </div>
          <div class="input-field col s12 l2">
            <input type="number" class="servicio_cantidad" id="servicios_cantidad_0" autocomplete="off" name="servicios[0][cantidad]" min="1">
            <label>Cantidad</label>
          </div>
          <div class="input-field col s12 l2">
            <input type="number" class="servicio_precio" id="servicios_precio_0" autocomplete="off" name="servicios[0][precio]" min="1">
            <label>Total</label>
          </div>
          <div class="col s12 l2 valign-wrapper">
            <button class="btn-floating red remove_servicio" type="button" disabled>
              <i class="material-icons">delete_forever</i>
            </button>
          </div>
        </div>
      </div>


      <h4>Empleados de evento
        <button id="add_empleado" class="btn-floating" type="button">
          <i class="material-icons">add</i>
        </button>
      </h4>
      <div class="row" id="empleados">
        <div class="empleado row">
          <div class="input-field col s12 m6 l3">
            <select class="empleado_select" name="empleados[0][puesto]" id="empleados_puesto_0">
              <option selected disabled>Selecciona un rol</option>
              <?php foreach($puestos as $puesto): ?>
              <option value="<?=$puesto['id'] ?>"><?=$puesto['nombre'] ?></option>
              <?php endforeach; ?>
            </select>
            <label>Rol</label>
          </div>
          <div class="input-field col s12 m6 l3">
            <input type="hidden" name="empleados[0][empleado]">
            <input type="text" class="autocomplete_empleado" autocomplete="off">
            <label>Empleado</label>
          </div>
          <div class="input-field col s12 m6 l2">
            <input type="number" min="1" class="empelado_turnos" autocomplete="off" name="empleados[0][turnos]">
            <label>Turnos</label>
          </div>
          <div class="input-field col s12 m6 l2">
            <input type="number" min="0" step="0.1" class="empelado_salario" autocomplete="off" name="empleados[0][salario]">
            <label>Total</label>
          </div>

          <div class="col s12 l2 valign-wrapper">
            <button class="btn-floating red remove_empleado" type="button" disabled>
              <i class="material-icons">delete_forever</i>
            </button>
          </div>
        </div>
      </div>


      <h4>Contactos del evento
        <button id="add_contacto" class="btn-floating" type="button">
          <i class="material-icons">add</i>
        </button>
      </h4>
      <div id="contactos" class="row">
        <div class="contacto row">
          <div class="row">
            <div class="input-field col s12 m4">
              <input type="text" autocomplete="off" name="contactos[0][nombre]">
              <label>Nombre</label>
            </div>
            <div class="input-field col s12 m4">
              <input type="text" autocomplete="off" name="contactos[0][telefono]">
              <label>Teléfono</label>
            </div>
            <div class="input-field col s12 m4">
              <input type="text" autocomplete="off" name="contactos[0][correo]">
              <label>Correo electrónico</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m10">
              <input type="text" autocomplete="off" name="contactos[0][descripcion]">
              <label>Descripcion</label>
            </div>
            <div class="col s12 m2 valign-wrapper">
                <button class="btn-floating red remove_contacto" type="button" disabled>
                  <i class="material-icons">delete_forever</i>
                </button>
              </div>
          </div>
        </div>
      </div>
      <div class="row col s12">
        <div class="col s12 m6 input-field">
          <button class="btn-large waves-effect waves-light olive darken-1 right" name="estado" value="confirmado">Guardar como confirmado
            <i class="medium material-icons right">attach_money</i>
          </button>
        </div>
        <div class="col s12 m6 input-field">
          <button class="btn-large waves-effect waves-light left" name="estado" value="presupuesto">Guardar como presupuesto
            <i class="medium material-icons right">money_off</i>
          </button>
        </div>
      </div>
    </form>
  </div>
<?=$this->fetch('_footer.phtml', $footer) ?>
