    /*
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    */
    /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
#map_container{
  position: relative;
}
#map {
  height: 0;
  overflow: hidden;
  padding-bottom: 40.5%;
  padding-top: 30px;
  position: relative;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
