<?=$this->fetch('_header.phtml', $header); ?>
    <div class="container">
        <div class="card-panel">
            <h3 class="center">
                <?=htmlspecialchars($servicio['nombre'])?>
                    <div class="fixed-action-btn horizontal click-to-toggle" style="position:relative; float:right; bottom:35px; right:10px">
                        <a class="btn-floating btn-large">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul>
                            <li>
                                <a href="/servicios/editar/<?=htmlspecialchars($servicio['id'])?>" class="btn-floating green">
                                    <i class="material-icons">edit</i>Editar</a>
                            </li>
                            <li>
                                <a href='#eliminacion' class="btn-floating red modal-trigger">
                                    <i class="material-icons">delete_forever</i>Eliminar</a>
                            </li>
                        </ul>
                    </div>
            </h3>
            <?php if(!is_null($correcto)):?>
            <script>
                feedback = "<?=$correcto?>";
            </script>
            <?php endif;?>
            <!-- Modal Structure -->
            <div id="eliminacion" class="modal">
                <div class="modal-content">
                    <h4>Confirmar eliminación de servicio</h4>
                    <p>¿Está seguro que desea
                        <span class="red-text">eliminar peramentemente</span> este servicio?</p>
                    <span class="red-text">Esta acción no puede revertirse</span>
                </div>
                <div class="modal-footer">
                    <button class="btn-large waves-effect waves-light green left" type="button" onclick="window.location='/servicios/eliminar?id=<?=htmlspecialchars($servicio['id'])?>';">Sí
                        <i class="material-icons right">delete</i>
                        <button class="btn-large waves-effect waves-light red modal-action modal-close" type="button" style="float: right;">No
                            <i class="material-icons right">block</i>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <strong>Nombre: </strong>
                            <span>
                                <?=htmlspecialchars($servicio['nombre'])?>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <strong>Descripción: </strong>
                            <span>
                                <?=htmlspecialchars($servicio['descripcion'])?>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <strong>Precio: </strong>
                            <span>
                                <?=htmlspecialchars($servicio['precio'])?>
                            </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h4>Insumos del servicio</h4>
                <div class="col s12">
                    <?php if ($insumos) :?>
                    <table class="responsive-table striped">
                        <thead>
                            <tr>
                                <th>Insumo</th>
                                <th>Cantidad</th>
                                <th>Unidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($insumos as $insumo): ?>
                            <tr>
                                <td>
                                    <a title=<?=htmlspecialchars($insumo[ 'descripcion'])?> href="/insumos/detalle/
                                        <?=htmlspecialchars($insumo['id'])?>">
                                            <?=htmlspecialchars($insumo['nombre'])?>
                                    </a>
                                </td>
                                <td>
                                    <?=htmlspecialchars($insumo['cantidad'])?>
                                </td>
                                <td>
                                    <?=htmlspecialchars($insumo['unidad'])?>
                                </td>
                            </tr>
                            <?php endforeach;?>
                        </tbody>
                    </table>
                    <?php else :?>
                    <span>No se encontraron insumos</span>
                    <?php endif;?>
                </div>
            </div>
            <div class="row">
                <h4>Proveedores del servicio</h4>
                <div class="col s12">
                    <?php if ($proveedores) :?>
                    <table class="responsive-table striped">
                        <thead>
                            <tr>
                                <th>Proveedor</th>
                                <th>Costo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($proveedores as $proveedor): ?>
                            <tr>
                                <td>
                                    <a href="/proveedores/detalle/<?=htmlspecialchars($proveedor['id'])?>">
                                        <?=htmlspecialchars($proveedor['nombre'])?>
                                    </a>
                                </td>
                                <td>
                                    <?=htmlspecialchars($proveedor['costo'])?>
                                </td>
                            </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                    <?php else :?>
                    <span>No se encontraron proveedores</span>
                    <?php endif;?>
                </div>
            </div>
            <div class="row">
                <h4>Actividades del servicio</h4>
                <div class="col s12">
                    <?php if ($actividades) :?>
                    <table class="bordered">
                        <thead>
                            <tr>
                                <th>Actividad</th>
                                <th>Descripción</th>
                                <th>Prioridad</th>
                                <th>Subactividad(es)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($actividades as $actividad): ?>
                            <tr>
                                <td>
                                    <a href="/actividades/detalle/<?=htmlspecialchars($actividad['id'])?>">
                                        <?=htmlspecialchars($actividad['nombre'])?>
                                    </a>
                                </td>

                                <td>
                                    <?=htmlspecialchars($actividad['descripcion'])?>
                                </td>

                                <td>
                                    <?=htmlspecialchars($actividad['prioridad'])?>
                                </td>

                                <td>
                                    <?php if ($actividad['subactividades']) :?>
                                    <table class="bordered">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Descripción</th>
                                                <th>Prioridad</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php foreach ($actividad['subactividades'] as $subactividad): ?>
                                            <tr>
                                                <td>
                                                    <?=htmlspecialchars($subactividad['nombre'])?>
                                                        </a>
                                                </td>
                                                <td>
                                                    <?=htmlspecialchars($subactividad['descripcion'])?>
                                                </td>
                                                <td>
                                                    <?=htmlspecialchars($subactividad['prioridad'])?>
                                                </td>
                                            </tr>
                                            <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                    <?php endif;?>
                                </td>
                            </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                    <?php else :?>
                    <span>No se encontraron actividades</span>
                    <?php endif;?>
                </div>
            </div>
        </div>
    </div>
    <?=$this->fetch('_footer.phtml', $footer); ?>