<?=$this->fetch('_header.phtml', $header); ?>
  <div class="row">
    <div class="col s12">
      <h2 class="center-align">Registrar servicio</h2>
    </div>
  </div>
  <div class="row">
    <form method="post" class="col s12 m8 offset-m2">
      <input type="hidden" name="id" value="<?php echo isset($servicio['id']) ? htmlspecialchars($servicio['id']) : '" disabled="disabled'?>">
      <div class="row">
        <div class="input-field col s12">
          <input name="nombre" id="nombre" type="text" class="validate" autocomplete="off" required value="<?php echo isset($servicio) ? htmlspecialchars($servicio['nombre']) : ''?>">
          <label for="nombre" data-error="Debes completar este campo">Nombre servicio (requerido)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea class="materialize-textarea" name="descripcion" id="descripcion" type="text" class="validate" autocomplete="off"
            required>
            <?php echo isset($servicio) ? htmlspecialchars($servicio['descripcion']) : '' ?>
          </textarea>
          <label for="descripcion">Descripción (requerido)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input name="precio" id="precio" type="number" step="0.01" min="1" class="validate" autocomplete="off" required value="<?php echo isset($servicio) ? htmlspecialchars($servicio['precio']) : '' ?>">
          <label for="precio" data-error="Sólo valores positivos">Precio (requerido)</label>
        </div>
      </div>

      <h4>Insumos del servicio
        <small>(opcional)</small>
        <button id="add_insumo" class="btn-floating" type="button">
          <i class="material-icons">add</i>
        </button>
      </h4>
      <div id="insumos" class="row">
        <div class="insumo" class="row">
          <fieldset class="col s12">
            <legend>Insumos
              <button class="btn-floating red remove_insumo" type="button" disabled>
                <i class="material-icons">delete_forever</i>
              </button>
            </legend>
            <div class="row">
              <div class="input-field col s12">
                <input type="hidden" name="insumos[0][insumo]" id="insumo_0">

                <input type="text" autocomplete="off" class="insumo_autocomplete">
                <label>Insumo</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s5">
                <input type="number" step="0.01" autocomplete="off" name="insumos[0][cantidad]">
                <label for="cantidad">Cantidad</label>
              </div>
            </div>
          </fieldset>
          <!-- cierra cuadro -->
        </div>

        <?php 
          if (isset($insumos) && count($insumos) > 0):
              $index = 0;
              foreach($insumos as $insumo):
                  $index++;
          ?>

        <div class="insumo" class="row">
          <fieldset class="col s12">
            <legend>Insumo
              <button class="btn-floating red remove_insumo" type="button" disabled>
                <i class="material-icons">delete_forever</i>
              </button>
            </legend>
            <div class="row">
              <div class="input-field col s12">
                <input type="hidden" name="insumos[<?=htmlspecialchars($index)?>][insumo]" id="insumo_0" value="<?=htmlspecialchars($insumo['id'])?>">

                <input type="text" value="<?=htmlspecialchars($insumo['nombre'])?>" autocomplete="off" class="insumo_autocomplete">
                <label>Insumo</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s5">
                <input type="number" step="0.01" autocomplete="off" name="insumos[<?=htmlspecialchars($index)?>][cantidad]" value="<?=htmlspecialchars($insumo['cantidad'])?>">
                <label for="cantidad">Cantidad</label>
              </div>
            </div>
          </fieldset>
          <!-- cierra cuadro -->
        </div>

        <?php endforeach;?>
        <?php endif;?>

      </div>
      <!-- cierra div de insumos -->

      <h4>Proveedores del servicio
        <small>(opcional)</small>
        <button id="add_proveedor" class="btn-floating" type="button">
          <i class="material-icons">add</i>
        </button>
      </h4>
      <div id="proveedores" class="row">
        <div class="proveedor" class="row">
          <fieldset class="col s12">
            <legend>Proveedor
              <button class="btn-floating red remove_proveedor" type="button" disabled>
                <i class="material-icons">delete_forever</i>
              </button>
            </legend>
            <div class="row">
              <div class="input-field col s12">
                <input type="hidden" name="proveedores[0][proveedor]" id="proveedor_0">

                <input type="text" autocomplete="off" class="proveedor_autocomplete">
                <label>Proveedor</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s5">
                <i class="material-icons prefix">attach_money</i>
                <input type="number" step="0.01" autocomplete="off" name="proveedores[0][costo]">
                <label for="costo">Costo</label>
              </div>
            </div>
          </fieldset>
          <!-- cierra cuadro -->
        </div>

        <?php 
          if (isset($proveedores) && count($proveedores) > 0):
              $index = 0;
              foreach($proveedores as $proveedor):
                  $index++;
          ?>

        <div class="proveedor" class="row">
          <fieldset class="col s12">
            <legend>Proveedor
              <button class="btn-floating red remove_proveedor" type="button" disabled>
                <i class="material-icons">delete_forever</i>
              </button>
            </legend>
            <div class="row">
              <div class="input-field col s12">
                <input type="hidden" name="proveedores[<?=htmlspecialchars($index)?>][proveedor]" id="proveedor_0" value="<?=htmlspecialchars($proveedor['id'])?>">

                <input type="text" value="<?=htmlspecialchars($proveedor['nombre'])?>" autocomplete="off" class="proveedor_autocomplete">
                <label>Proveedor</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s5">
                <i class="material-icons prefix">attach_money</i>
                <input type="number" step="0.01" autocomplete="off" name="proveedores[<?=htmlspecialchars($index)?>][costo]" value="<?=htmlspecialchars($proveedor['costo'])?>">
                <label for="costo">Costo</label>
              </div>
            </div>
          </fieldset>
          <!-- cierra cuadro -->
        </div>

        <?php endforeach;?>
        <?php endif;?>
      </div>

      <h4>Actividades del servicio
        <button id="add_actividad" class="btn-floating" type="button">
          <i class="material-icons">add</i>
        </button>
      </h4>

      <div id="actividades" class="row">
        <div class="actividad" class="row">
          <fieldset class="col s12">
            <legend>Actividades
              <button class="btn-floating red remove_actividad" type="button" disabled>
                <i class="material-icons">delete_forever</i>
              </button>
            </legend>
            <div class="row">
              <div class="input-field col s12">
                <input id="actividad_nombre_0" type="text" name="actividades[0][nombre]" autocomplete="off">
                <label for="actividad_nombre_0">Actividad</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <textarea class="materialize-textarea" type="text" autocomplete="off" name="actividades[0][descripcion]"></textarea>
                <label>Descripción</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s5">
                <select name="actividades[0][prioridad]">
                  <option value="" disabled selected>Selecciona prioridad</option>
                  <option value="4">Baja</option>
                  <option value="3">Media</option>
                  <option value="2">Alta</option>
                  <option value="1">Urgente</option>
                </select>
                <label>Prioridad</label>
              </div>
            </div>

            <legend>Sub actividades
              <button id="actividad_add_subactividades_0" class="btn-floating add_subactividad" type="button">
                <i class="material-icons">add</i>
              </button>
            </legend>
            <div class="subactividades" class="row">
              <div class="subactividad" class="row">
                <fieldset class="col s12">
                  <legend>Sub actividades
                    <button class="btn-floating red remove_subactividad" type="button" disabled>
                      <i class="material-icons">delete_forever</i>
                    </button>
                  </legend>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="subactividad_nombre_0" type="text" name="actividades[0][subactividad][0][nombre]" autocomplete="off">
                      <label for="subactividad_nombre_0">Subactividad</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea class="materialize-textarea" autocomplete="off" name="actividades[0][subactividad][0][descripcion]"></textarea>
                      <label>Descripción</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s5">
                      <select name="actividades[0][subactividad][0][prioridad]">
                        <option value="" disabled selected>Selecciona prioridad</option>
                        <option value="4">Baja</option>
                        <option value="3">Media</option>
                        <option value="2">Alta</option>
                        <option value="1">Urgente</option>
                      </select>
                      <label>Prioridad</label>
                    </div>
                  </div>
                </fieldset>
                <!-- cierra cuadro -->
              </div>
            </div>
          </fieldset>
          <!-- cierra cuadro -->
        </div>
      </div>

      <?php 
          if (isset($actividades) && count($actividades) > 0):
              $index = 0;
              foreach($actividades as $actividad):
                  $index++;
          ?>

      <div class="actividad" class="row">
        <fieldset class="col s12">
          <legend>Actividades
            <button class="btn-floating red remove_actividad" type="button" disabled>
              <i class="material-icons">delete_forever</i>
            </button>
          </legend>
          <div class="row">
            <div class="input-field col s12">
              <input type="text" id="actividad_nombre_<?=htmlspecialchars($index)?>" name="actividades[<?=htmlspecialchars($index)?>][nombre]"
                value="<?=htmlspecialchars($actividad['nombre'])?>" autocomplete="off">
              <label for="actividad_nombre_<?=htmlspecialchars($index)?>">Actividad</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <textarea class="materialize-textarea" type="text" autocomplete="off" name="actividades[<?=htmlspecialchars($index)?>][descripcion]">
                <?=htmlspecialchars($actividad['descripcion'])?>
              </textarea>
              <label>Descripción</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s5">
              <select name="actividades[<?=htmlspecialchars($index)?>][prioridad]">

                <?php if ( ! isset($actividad['prioridad'])): ?>
                <option disabled selected>Selecciona prioridad</option>
                <?php endif; ?>

                <option value="4" <?php if ( $actividad[ 'prioridad']=="baja" ) echo "selected" ?>>Baja</option>

                <option value="3" <?php if ( $actividad[ 'prioridad']=="media" ) echo "selected" ?>> Media </option>

                <option value="2" <?php if ( $actividad[ 'prioridad']=="alta" ) echo "selected" ?>>Alta</option>

                <option value="1" <?php if ( $actividad[ 'prioridad']=="urgente" ) echo "selected" ?>>Urgente</option>
              </select>
              <label>Prioridad</label>
            </div>
          </div>

          <p>Sub actividades
            <button id="actividad_add_subactividades_0" class="btn-floating add_subactividad" type="button">
              <i class="material-icons">add</i>
            </button>
          </p>
          <div class="subactividades" class="row">

            <?php 
                  if (isset($actividad['subactividades']) && count($actividad['subactividades']) > 0):
                      $undex = 0;
                      foreach($actividad['subactividades'] as $subactividad):
                          $undex++;
                  ?>


            <div class="subactividad" class="row">
              <fieldset class="col s12">
                <legend>Sub actividades
                  <button class="btn-floating red remove_subactividad" type="button" disabled>
                    <i class="material-icons">delete_forever</i>
                  </button>
                </legend>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="subactividad_nombre_<?=htmlspecialchars($index)?>" type="text" name="actividades[<?=htmlspecialchars($index)?>][subactividad][<?=htmlspecialchars($undex)?>][nombre]"
                      value="<?=htmlspecialchars($subactividad['nombre'])?>" autocomplete="off">
                    <label for="subactividad_nombre_<?=htmlspecialchars($index)?>">Subactividad</label>
                  </div>
                </div>


                <div class="row">
                  <div class="input-field col s12">
                    <textarea class="materialize-textarea" autocomplete="off" name="actividades[<?=htmlspecialchars($index)?>][subactividad][<?=htmlspecialchars($undex)?>][descripcion]">
                      <?=htmlspecialchars($subactividad['descripcion'])?>
                    </textarea>
                    <label>Descripción</label>
                  </div>
                </div>


                <div class="row">
                  <div class="input-field col s5">
                    <select name="actividades[<?=htmlspecialchars($index)?>][subactividad][<?=htmlspecialchars($undex)?>][descripcion]">
                      <option value="" disabled selected>Selecciona prioridad</option>
                      <option value="4" <?php if ( $subactividad[ 'prioridad']=="baja" ) echo "selected" ?> >Baja</option>
                      <option value="3" <?php if ( $subactividad[ 'prioridad']=="media" ) echo "selected" ?>>Media</option>
                      <option value="2" <?php if ( $subactividad[ 'prioridad']=="alta" ) echo "selected" ?>>Alta</option>
                      <option value="1" <?php if ( $subactividad[ 'prioridad']=="urgente" ) echo "selected" ?>>Urgente</option>
                    </select>
                    <label>Prioridad</label>
                  </div>
                </div>
              </fieldset>
              <!-- cierra cuadro -->
            </div>

            <?php endforeach;?>
            <?php endif;?>

          </div>



        </fieldset>
        <!-- cierra cuadro -->
      </div>


      <?php endforeach;?>
      <?php endif;?>
      <!-- Termina actividades -->


      <div class="row col s12">
        <div class="input-field">
          <?php if (isset($servicio)): ?>
          <button class="btn-large waves-effect waves-light right" type="submit">Guardar
            <i class="material-icons right">save</i>
          </button>
          <a class="btn-large waves-effect waves-light amber darken-2 right" href="javascript:window.history.back();">Cancelar
            <i class="material-icons right">clear</i>
          </a>
          <!-- Modal Trigger -->
          <button data-target="eliminacion" class="btn-large waves-effect waves-light red modal-trigger left">Eliminar
            <i class="material-icons right">delete</i>
          </button>
          <?php else: ?>
          <button class="btn-large waves-effect waves-light right" type="submit">Registrar
            <i class="material-icons right">send</i>
          </button>
          <?php endif; ?>
        </div>
      </div>
      <!-- Modal Structure -->
      <div id="eliminacion" class="modal">
        <div class="modal-content">
          <h4>Confirmar eliminación de servicio</h4>
          <p>¿Está seguro que desea
            <span class="red-text">eliminar peramentemente</span> este servicio?</p>
          <span class="red-text">Esta acción no puede revertirse</span>
        </div>
        <div class="modal-footer">
          <button class="btn-large waves-effect waves-light green left" type="button" onclick="window.location='/servicios/eliminar?id=<?=htmlspecialchars($servicio['id'])?>';">Sí
            <i class="material-icons right">delete</i>
          </button>
          <button class="btn-large waves-effect waves-light red modal-action modal-close" type="button" style="float: right;">No
            <i class="material-icons right">block</i>
          </button>
        </div>
      </div>
    </form>
  </div>

  <?=$this->fetch('_footer.phtml', $footer); ?>