body{
    background-color: #fffaff !important
}

nav{
    color: $secondary-color !important;
}

label{
    width: 100%;
}

.autocomplete-suggestion{
    background: white;
    font-size: 1.2em;
}

.autocomplete-suggestion:hover{
    background: lightgray;
}

.arregla{
    min-width: 135 !important;
}

.arregla  li>a, .arregla li>span{
    padding: 14px 8px !important;
}

.arregla li>a>i{
    margin: 0 8px 0 0 !important;
}

[type="checkbox"]+label{
    display: inline !important;
    padding-left: 30px !important;
}

label{
    vertical-align: super !important;
}

div#eliminacion.modal{
    width: 40% !important;
}
/*
.dropdown-content{
  min-width: 300px; /* Changed this to accomodate content width /
  max-height: auto;
  margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar /
overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; /
white-space: nowrap;
z-index: 1;
}
*/
/*.brand-logo{
    display: inline-block;
    width: auto;
    height: auto;
    
    background: white;
}*/