<?=$this->fetch('_header.phtml', $header); ?>
    <div class="container">
        <div class="card-panel">
            <h3 class="center">
                <?=htmlspecialchars($persona['nombre'])?>

                    <div class="fixed-action-btn horizontal click-to-toggle" style="position:relative; float:right; bottom:35px; right:10px">
                        <a class="btn-floating btn-large">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul>
                            <li>
                                <a href="/personas/editar/<?=$persona["id"]?>?tipo=proveedor" class="btn-floating green">
                                    <i class="material-icons">edit</i>Editar</a>
                            </li>

                            <li>
                                <a href="#eliminacion" class="btn-floating red modal-trigger">
                                    <i class="material-icons">delete_forever</i>Eliminar</a>
                            </li>

                        </ul>
                    </div>
            </h3>
            <?php if(!is_null($correcto)):?>
            <script>
                feedback = "<?=$correcto?>";
            </script>
            <?php endif;?>
            <!-- Modal Structure -->
            <div id="eliminacion" class="modal">
                <div class="modal-content">
                    <h4>Confirmar eliminación de persona</h4>
                    <p>¿Está seguro que desea
                        <span class="red-text">eliminar peramentemente</span> esta persona?</p>
                    <span class="red-text">Esta acción no puede revertirse</span>
                </div>
                <div class="modal-footer">
                    <button class="btn-large waves-effect waves-light green left" type="button" onclick="window.location='/personas/eliminar?id=<?=htmlspecialchars($persona['id'])?>';">Sí
                        <i class="material-icons right">delete</i>
                        <button class="btn-large waves-effect waves-light red modal-action modal-close" type="button" style="float: right;">No
                            <i class="material-icons right">block</i>
                </div>
            </div>
            <table>
                <tr>

                    <?php 
              if (isset($tipos) && count($tipos) > 0):
                  $index = 0;
                  $undex = 0;
                  $real = 0;
                  $regEx= '/(.*)(proveedores)(.*)/';
                  foreach($tipos as $key => $val){
                    $undex++;
                    if(preg_match($regEx, $val)){
                        $real = $undex;
                    }
                    
                  }
                

                  foreach($tipos as $key => $val):
                      $index++;
            ?>
                    <td>
                        <input autocomplete="off" name="tipo" type="radio" id="<?=$index?>" value="<?=htmlspecialchars($val)?>" onchange="window.location.pathname=$(this).val();"
                            <?php if($index==$real) echo "checked";?> />

                        <label for="<?=$index?>">
                            <?=htmlspecialchars(ucfirst($key))?>
                        </label>
                    </td>
                    <?php endforeach;?>
                    <?php endif;?>
                </tr>
            </table>

            <div class="row">
                <h4>Datos personales</h4>
                <div class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <strong>Nombre: </strong>
                            <span>
                                <?=htmlspecialchars($persona['nombre'])?>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <strong>RFC: </strong>
                            <span>
                                <?=htmlspecialchars($persona['rfc'])?>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <strong>Correo electrónico: </strong>
                            <a href="mailto:<?=htmlspecialchars($persona['correo'])?>">
                                <span>
                                    <?=htmlspecialchars($persona['correo'])?>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h4>Teléfonos</h4>
                <div class="col s12">
                    <table class="responsive-table striped">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Número</th>
                                <th>Extensión</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($telefonos as $telefono):?>
                            <tr>
                                <td>
                                    <?=htmlspecialchars($telefono['tipo'])?>
                                </td>
                                <td>
                                    <?=htmlspecialchars($telefono['numero'])?>
                                </td>
                                <td>
                                    <?=htmlspecialchars($telefono['extension'])?>
                                </td>
                            </tr>
                            <?php endforeach?>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <h4>Domicilio</h4>
                <div class="col s12">
                    <p>
                        <?php $flag = false;?>
                        <?php if (($persona['domicilio']['calle']) != ""): $flag = true;?>
                        <?=htmlspecialchars($persona['domicilio']['calle'])?>
                            <?php endif;?>

                            <?php if (($persona['domicilio']['exterior']) != ""): $flag = true;?>
                            <?=htmlspecialchars($persona['domicilio']['exterior'])?>
                                <?php endif;?>

                                <?php if (($persona['domicilio']['interior']) != ""): $flag = true;?> , interior
                                <?=htmlspecialchars($persona['domicilio']['interior'])?>.
                                    <?php endif;?>

                                    <?php if (($persona['domicilio']['colonia']) != ""): $flag = true;?>
                                    <?=htmlspecialchars($persona['domicilio']['colonia'])?>
                                        <?php endif;?>

                                        <?php if(!$flag):?>
                                        <span>No existe domicilio registrado</span>
                                        <?php endif?>
                                        <br>
                                        <?php if (($persona['domicilio']['cp']) !== ""):?> C.P.
                                        <?=htmlspecialchars($persona['domicilio']['cp'])?>
                                            <?php endif;?>
                    </p>
                </div>
            </div>
            <div class="row">
                <h4>Últimos eventos</h4>
                <div class="col s12">
                    <?php if($eventos):?>
                    <table class="responsive-table striped">
                        <thead>
                            <tr>
                                <th>Nombre de evento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($eventos as $evento):?>
                            <tr>
                                <td>
                                    <?=htmlspecialchars($evento['nombreEvento'])?>
                                </td>
                                <?php endforeach?>
                        </tbody>
                    </table>
                    <?php else:?>
                    <span>No se encontraron eventos</span>
                    <?php endif;?>
                </div>
            </div>
        </div>
    </div>
    <?=$this->fetch('_footer.phtml', $footer); ?>