<?php if(count($personas) > 0): ?>
<table class="responsive-table striped">
<thead>
  <tr>
      <th>Nombre del proveedor</th>
      <th>RFC</th>
      <th>Email</th>
      <th colspan="2">Acciones</th>
  </tr>
</thead>

<tbody>
  <?php foreach ($personas as $persona):?>
  <tr>
    <td><a href="/proveedores/detalles/<?=$persona['id']?>"><?=$persona['nombre']?></a></td>
    <td><?=$persona['rfc']?></td>
    <td><?=$persona['correo']?></td>
    <td><a href="/proveedores/detalles/<?=$persona['id']?>"><i class="material-icons">visibility</i></a></td>
    <td><a href="/personas/editar/<?=$persona['id']?>?tipo=<?=$persona['tipo_persona']?>"><i class="material-icons">mode_edit</i></a></td>
  </tr>
  <?php endforeach;?>
</tbody>
</table>
<?php else:?>
<p>No se encontraron proveedores</p>
<?php endif;?>
<ul class="pagination center">
<li class="<?php echo $currentPage > 1 ? '' : 'disabled'?>"><a href="<?= $currentPage > 1? '/proveedores/listar/'.($currentPage-1) : '#'?>"><i class="material-icons">chevron_left</i></a></li>
<?php for($i = 1; $i <= $pages; $i++):?>
  <li class="waves-effect<?php echo $i == $currentPage ? ' active' : ''?>"><a href="<?='/proveedores/listar/'.$i?>"><?=$i?></a></li>
<?php endfor;?>
<li class="<?php echo $currentPage < $pages ? '' : 'disabled'?>"><a href="<?= $currentPage < $pages ? '/proveedores/listar/'.($currentPage+1) : '#'?>"><i class="material-icons">chevron_right</i></a></li>
</ul>      
  <br><br>