<?=$this->fetch('_header.phtml', $header); ?>
    <div class="container">
        <div class="card-panel">
            <h3 class="center">
                <?=htmlspecialchars($insumo['nombre'])?>
                    <div class="fixed-action-btn horizontal click-to-toggle" style="position:relative; float:right; bottom:35px; right:10px">
                        <a class="btn-floating btn-large">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul>
                            <li>
                                <a href="/insumos/editar/<?=htmlspecialchars($insumo['id'])?>" class="btn-floating green">
                                    <i class="material-icons">edit</i>Editar</a>
                            </li>
                            <li>
                                <a href='#eliminacion' class="btn-floating red modal-trigger">
                                    <i class="material-icons">delete_forever</i>Eliminar</a>
                            </li>
                        </ul>
                    </div>

            </h3>
            <?php if(!is_null($correcto)):?>
            <script>
                feedback = "<?=$correcto?>";
            </script>
            <?php endif;?>
            <!-- Modal Structure -->
            <div id="eliminacion" class="modal">
                <div class="modal-content">
                    <h4>Confirmar eliminación de insumo</h4>
                    <p>¿Está seguro que desea
                        <span class="red-text">eliminar peramentemente</span> este insumo?</p>
                    <span class="red-text">Esta acción no puede revertirse</span>
                </div>
                <div class="modal-footer">
                    <button class="btn-large waves-effect waves-light green left" type="button" onclick="window.location='/insumos/eliminar?id=<?=htmlspecialchars($insumo['id'])?>';">Sí
                        <i class="material-icons right">delete</i>
                        <button class="btn-large waves-effect waves-light red modal-action modal-close" type="button" style="float: right;">No
                            <i class="material-icons right">block</i>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <strong>Nombre: </strong>
                            <span>
                                <?=htmlspecialchars($insumo['nombre'])?>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <strong>Descripción: </strong>
                            <span>
                                <?=htmlspecialchars($insumo['descripcion'])?>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <strong>Unidad: </strong>
                            <span>
                                <?=htmlspecialchars($insumo['unidad'])?>
                            </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h4>Proveedores que ofrecen insumo</h4>
                <div class="col s12">
                    <?php if($proveedores):?>
                    <table class="responsive-table striped">
                        <thead>
                            <tr>
                                <th>Proveedor</th>
                                <th>Cantidad en
                                    <?=htmlspecialchars($insumo['unidad'])?>
                                </th>
                                <th>Presentacion</th>
                                <th>Costo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($proveedores as $proveedor):?>
                            <tr>
                                <td>
                                    </u>
                                    <a href="/proveedores/detalles/<?=$proveedor['persona']?>">
                                        <u>
                                            <?=$proveedor['nombre']?>
                                    </a>
                                </td>
                                <td>
                                    <?=htmlspecialchars($proveedor['cantidad'])?>
                                </td>
                                <td>
                                    <?=htmlspecialchars($proveedor['presentacion'])?>
                                </td>
                                <td>
                                    <?=htmlspecialchars($proveedor['costo'])?>
                                </td>
                            </tr>
                            <?php endforeach?>
                        </tbody>
                    </table>
                    <?php else:?>
                    <span>No se encontraron proveedores</span>
                    <?php endif;?>
                </div>
            </div>


        </div>
    </div>
    <?=$this->fetch('_footer.phtml', $footer); ?>