<?=$this->fetch('_header.phtml', $header); ?>

  <div class="row">
    <div class="col s12">
      <h2 class="center-align">
        <?php if($data['header']['page_title'] == "Editar"):?>
        <?php echo "Editar insumo"?>
        <?php else: echo "Registrar insumo"?>
        <?php endif?>
      </h2>
    </div>
  </div>
  <div class="row">
    <form method="post" class="col s12 m8 offset-m2">
      <input type="hidden" name="id" value="<?php echo isset($insumo['id']) ? htmlspecialchars($insumo['id']) : '" disabled="disabled'?>">
      <div class="row">
        <div class="input-field col s12">
          <input name="nombre" id="nombre" type="text" class="validate" autocomplete="off" required value="<?php echo isset($insumo) ? htmlspecialchars($insumo['nombre']) : ''?>">
          <label for="nombre" data-error="Debes completar este campo">Nombre del insumo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea class="materialize-textarea" name="descripcion" id="descripcion" type="text" class="validate" autocomplete="off"
            required>
            <?php echo isset($insumo) ? htmlspecialchars($insumo['descripcion']) : ''?>
          </textarea>
          <label for="descripcion">Descripción (requerido)</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s3">
          <select name="unidad" id="unidad" required onchange="$('.unidad').text($(this).val());">

            <?php if ( ! isset($insumo)): ?>
            <option disabled selected>Selecciona unidad</option>
            <?php endif; ?>

            <?php foreach ($unidades as $unidad): ?>
            <option value="<?=htmlspecialchars($unidad[0])?>" <?php if(isset($insumo) && $insumo[ 'unidad']==$unidad[0]) echo
              "selected" ?>>
              <?=htmlspecialchars($unidad[1])?>
            </option>
            <?php endforeach;?>
          </select>
          <label>Unidad</label>
        </div>
      </div>

      <h4>Proveedores del insumo
        <small>(opcional)</small>
        <button id="add_proveedor" class="btn-floating" type="button">
          <i class="material-icons">add</i>
        </button>
      </h4>
      <div id="proveedores" class="row">
        <div class="proveedor" class="row">
          <fieldset class="col s12">
            <legend>Proveedor
              <button class="btn-floating red remove_proveedor" type="button" disabled>
                <i class="material-icons">delete_forever</i>
              </button>
            </legend>
            <div class="row">
              <div class="input-field col s8">
                <input type="hidden" name="proveedores[0][proveedor]" id="proveedor_0">

                <input type="text" autocomplete="off" class="proveedor_autocomplete">
                <label>Proveedor</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s8">
                <input type="text" autocomplete="off" name="proveedores[0][presentacion]">
                <label for="presentacion">Presentación</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s3">
                <input type="number" step="0.01" autocomplete="off" name="proveedores[0][cantidad]">
                <label for="cantidad">Cantidad en
                  <span class="unidad"></span>
                </label>
              </div>
              <div class="input-field col s3">
                <i class="material-icons prefix">attach_money</i>
                <input type="number" step="0.01" autocomplete="off" name="proveedores[0][costo]">
                <label for="costo">Costo</label>
              </div>
            </div>
          </fieldset>
          <!-- cierra cuadro -->
        </div>
        <?php 
        if (isset($proveedores) && count($proveedores) > 0):
            $index = 0;
            foreach($proveedores as $proveedor):
                $index++;
        ?>

        <div class="proveedor" class="row">
          <fieldset class="col s12">
            <legend>Proveedor
              <button class="btn-floating red remove_proveedor" type="button" disabled>
                <i class="material-icons">delete_forever</i>
              </button>
            </legend>
            <div class="row">
              <div class="input-field col s8">
                <input type="hidden" name="proveedores[<?=$index?>][proveedor]" id="proveedor_0" value="<?=$proveedor['id']?>">

                <input type="text" value="<?=htmlspecialchars($proveedor['nombre'])?>" autocomplete="off" class="proveedor_autocomplete">
                <label>Proveedor</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s8">
                <input type="text" autocomplete="off" name="proveedores[<?=$index?>][presentacion]" value="<?=htmlspecialchars($proveedor['presentacion'])?>">
                <label for="presentacion">Presentación</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s3">
                <input type="number" step="0.01" autocomplete="off" name="proveedores[<?=$index?>][cantidad]" value="<?=htmlspecialchars($proveedor['cantidad'])?>">
                <label for="cantidad">Cantidad en
                  <span class="unidad"></span>
                </label>
              </div>
              <div class="input-field col s3">
                <i class="material-icons prefix">attach_money</i>
                <input type="number" step="0.01" autocomplete="off" name="proveedores[<?=$index?>][costo]" value="<?=htmlspecialchars($proveedor['costo'])?>">
                <label for="costo">Costo</label>
              </div>
            </div>
          </fieldset>
          <!-- cierra cuadro -->
        </div>

        <?php endforeach;?>
        <?php endif;?>

      </div>

      <div class="row col s12">
        <div class="input-field">
          <?php if(isset($insumo)): ?>
          <button class="btn-large waves-effect waves-light right" type="submit">Guardar
            <i class="material-icons right">save</i>
          </button>
          <a class="btn-large waves-effect waves-light amber darken-2 right" href="javascript:window.history.back();">Cancelar
            <i class="material-icons right">clear</i>
          </a>
          <!-- Modal Trigger -->
          <button data-target="eliminacion" class="btn-large waves-effect waves-light red modal-trigger left">Eliminar
            <i class="material-icons right">delete</i>
          </button>
          <?php else: ?>
          <button class="btn-large waves-effect waves-light right" type="submit">Registrar
            <i class="material-icons right">send</i>
          </button>
          <?php endif; ?>
        </div>
      </div>
      <!-- Modal Structure -->
      <div id="eliminacion" class="modal">
        <div class="modal-content">
          <h4>Confirmar eliminación de insumo</h4>
          <p>¿Está seguro que desea
            <span class="red-text">eliminar peramentemente</span> este insumo?</p>
          <span class="red-text">Esta acción no puede revertirse</span>
        </div>
        <div class="modal-footer">
          <button class="btn-large waves-effect waves-light green left" type="button" onclick="window.location='/insumos/eliminar?id=<?=htmlspecialchars($insumo['id'])?>';">Sí
            <i class="material-icons right">delete</i>
          </button>
          <button class="btn-large waves-effect waves-light red modal-action modal-close" type="button" style="float: right;">No
            <i class="material-icons right">block</i>
          </button>
        </div>
      </div>
    </form>
  </div>

  <?=$this->fetch('_footer.phtml', $footer); ?>