<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="/css/reportes.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      table, th, td {
          border: 2px solid black;
          padding: 5px;
      }
      #insumos{
        border-collapse: collapse;
        width: 100%;
      }
      .cotenido tr td{
        font-weight: normal !important;
      }
      </style>
  </head>
  <body>
    <h3>Insumos más frecuentes</h3>
    <p>Insumos más frecuentes en un periodo de tiempo dado</p>
    <ul>
      <li><strong>Fecha de inicio: </strong></li>
      <li><strong>Fecha de término: <strong></li>
      <li><strong>Insumo(s) más frecuente(s): </strong></li>
      <li><strong>Cantidad de insumo(s) más frecuente(s): </strong>
      <ul>
        <li><strong>Insumos: </strong>
          <table id="insumos">
            <thead>
              <tr>
                <th>Nombre insumo</th>
                <th>Descripción</th>
                <th>Unidad</th>
                <!-- <th>Costo Unitario</th>
                <th>Costo Total</th> -->
              </tr>
            </thead>
            <tbody class="contenido">
              <?php foreach($insumos as $insumo): ?>
                <tr>
                    <td><?=$insumo['nombre']?></td>
                    <td><?=$insumo['descripcion']?></td>
                    <td><?=$insumo['unidad']?></td>
                </tr>
              <?php endforeach; ?>
            </tbody>
          </table>
        </li>
      </ul>
      </li>
    </ul>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>