<?=$this->fetch('_header.phtml', $header); ?>
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">Administrar permisos de roles</h2>
        </div>
    </div>
    <?php if(!is_null($correcto)):?>
    <script>
        feedback="<?=$correcto?>";
    </script>
    <?php endif;?>
    <div class="row">
        <form method="post" class="col s12 m10 offset-m1">
            <div class="row">
                <div class="input-field col s12 m10 offset-m1 l10 offset-l1">
                    <select name="rol" id="rol" required>
                        <option disabled selected>Selecciona rol</option>
                        <?php foreach ($roles as $rol): ?>
                        <option value="<?=$rol['id']?>"><?=$rol['nombre'].': '.$rol['descripcion']?></option>
                        <?php endforeach;?>
                    </select>
                    <label for="id">Rol</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m10 offset-m1 l10 offset-l1 permiso" hidden>
                    <h4>Principal:</h4>
                    <input type="checkbox" value="/" class="filled-in" id="/" name="permisos[]">
                    <label for="/">/: <?=$permisos[0]['descripcion']?></label>
                    <br>
                    <?php foreach ($permisos as $permiso):?>
                        <?php if(preg_match('/^\/[^\/]+$/', $permiso['nombre']) === 1):?>
                            <br> &emsp;&emsp;
                            <h5><?php echo ucfirst(str_replace('/', '', $permiso['nombre']))?>:</h5>
                            <input type="checkbox" class="filled-in" id="<?php echo $permiso['nombre']?>" value="<?php echo $permiso['nombre']?>" name="permisos[]">
                            <label for="<?php echo $permiso['nombre']?>">
                                <?php echo $permiso['nombre']?>: <?php echo $permiso['descripcion']?>
                            </label>
                            <div class="row">
                                <div class="col s12">
                                    <?php $temp = $permiso['nombre']; 
                                        $temp = str_replace('/', "", $temp);
                                    ?>
                                    <?php foreach ($permisos as $permiso):?>
                                        <?php if(preg_match('/\/'.$temp.'\/\w+/', $permiso['nombre']) === 1):?>
                                            <br>&emsp;&emsp;&emsp;
                                            <input type="checkbox" class="filled-in" id="<?php echo $permiso['nombre']?>" value="<?php echo $permiso['nombre']?>" name="permisos[]>">
                                            <label for="<?php echo $permiso['nombre']?>">
                                                <?php echo $permiso['nombre']?>: <?php echo $permiso['descripcion']?>
                                            </label>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </div>
                            </div>
                        <?php endif; ?>
                    <?php endforeach; ?>
                    <button class="btn-large waves-effect waves-light right" type="submit">Registrar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <?=$this->fetch('_footer.phtml', $footer); ?>