<?=$this->fetch('_header.phtml', $header) ?>
  <?php if($data['fail'] == 1): ?>
  <div class="row">
    <div class="card col s12 m6 offset-m3 l4 offset-l4">
      <div class="card-content">
        <h5 class="red-text">La contraseña proporcionada es incorrecta</h5>
        <div class="row">
          <p class="flow-text" class="green-text">Inicia sesión con tu nueva contraseña</p>
        </div>
      </div>
    </div>
  </div>
  <?php endif; ?>
  <?php if($data['success'] == 1): ?>
  <div class="row">
    <div class="card col s12 m6 offset-m3 l4 offset-l4">
      <div class="card-content">
        <h5 class="green-text">Se ha cambiado la contraseña exitosamente</h5>
        <div class="row">
          <p class="flow-text" class="green-text">De ahora en adelante inicia sesión con tu nueva contraseña</p>
        </div>
      </div>
    </div>
  </div>
  <?php endif; ?>
  <div class="row">
    <div class="card col s12 m6 offset-m3 l4 offset-l4">
      <div class="card-content">
        <span class="card-title olive-text text-darken-2 fluid-text">
          <h4>¡Hola! <?=$data['usuario']?></h4>
        </span>
        <p>Toma en cuenta que tu nueva contraseña:</p>
        <ul>
          <li>1.- Deberá contener al menos 8 caracteres y no más de 20</li>
          <li>2.- Deberá tener un número, una mayúscula y un caracter especial (sólo son admitidos * ! # . @ &)</li>
          <li>3.- No deberá tener espacios vacíos</li>
        </ul>
        <form method="post" class="row" id="contra">
          <fieldset class="col s12">
            <legend>Cambiar contraseña</legend>
            <div class="row">
              <div class="input-field col s12">
                <input type="password" name="contraseniaact" id="contraseniaact" required>
                <label for="contraseniaact">Contraseña Actual</label>
              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="input-field col s12">
                <input type="password" name="contrasenia" id="contrasenia" required>
                <label for="contrasenia" data-error="Debes completar este campo">Nueva Contraseña</label>
              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="input-field col s12">
                <input type="password" name="confirmacion" id="confirmacion" required>
                <label for="confirmacion" data-error="Debes completar este campo">Confirma contraseña</label>
              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="input-field right col s12">
                <button type="submit" class="btn-large">Actualizar</button>
              </div>
            </div>
          </fieldset>
          <!-- cierra cuadro -->
        </form>
      </div>
    </div>
  </div>
  <?=$this->fetch('_footer.phtml', $footer) ?>