<?=$this->fetch('_header.phtml', $header); ?>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h2 class="center-align">Cuentas</h2>
      </div>
    </div>
    <div class="row">
      <form class="col s12" action="<?=$searchUrl?>" method="get">
        <div class="row">
          <div class="col s12 m7 l5 offset-m2 offset-l3">
            <div class="input-field">
              <input type="text" id="q" name="q_<?=$nameSingular?>" required class="validate">
              <label for="q">Buscar
                <?=$nameSingular?>
              </label>
            </div>
          </div>
          <div class="col s12 m1 l1">
            <div class="input-field">
              <button class="btn waves-effect waves-light" type="submit">
                <i class="material-icons">search</i>Buscar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <?php if(count($cuentas) > 0): ?>
    <table class="responsive-table striped">
      <thead>
        <tr>
          <th>Nombre del usuario</th>
          <th>Nombre de la persona</th>
          <th>Roles</th>
          <th colspan="2">Acciones</th>
        </tr>
      </thead>

      <tbody>
        <?php foreach ($cuentas as &$cuenta):?>
        <tr>
          <td>
            <a href="/empleados/detalles/<?=$cuenta['id']?>">
              <u>
                <?=$cuenta['usuario']?>
              </u>
            </a>
          </td>

          <td>
            <?=$cuenta['nombrep']?>
          </td>
          <?php $total = []; ?>
          <?php foreach ($cuenta['rol'] as $rol): ?>
            <?php array_push($total, $rol['nombre']); ?>
          <?php endforeach; ?>
          <td>
            <?=implode(', ', $total);?>
          </td>
          <td>
            <a href="/empleados/detalles/<?=$cuenta['id']?>">
              <i class="material-icons">visibility</i>
            </a>
          </td>
          <td>
            <a href="/cuentas/editar/<?=$cuenta['id']?>">
              <i class="material-icons">mode_edit</i>
            </a>
          </td>
        </tr>
        <?php endforeach;?>
      </tbody>
    </table>
    <?php else:?>
    <p>No se encontraron cuentas</p>
    <?php endif;?>
    <ul class="pagination center">
      <li class="<?php echo $currentPage > 1 ? '' : 'disabled'?>">
        <a href="<?= $currentPage > 1? '/cuentas/listar/'.($currentPage-1) : '#'?>">
          <i class="material-icons">chevron_left</i>
        </a>
      </li>
      <?php for($i = 1; $i <= $pages; $i++):?>
      <li class="waves-effect<?php echo $i == $currentPage ? ' active' : ''?>">
        <a href="<?='/cuentas/listar/'.$i?>">
          <?=$i?>
        </a>
      </li>
      <?php endfor;?>
      <li class="<?php echo $currentPage < $pages ? '' : 'disabled'?>">
        <a href="<?= $currentPage < $pages ? '/cuentas/listar/'.($currentPage+1) : '#'?>">
          <i class="material-icons">chevron_right</i>
        </a>
      </li>
    </ul>
    <br>
    <br>
  </div>
  <?=$this->fetch('_footer.phtml', $data); ?>