<?=$this->fetch('_header.phtml', $header) ?>
  <?php if($data['recover'] == 1): ?>
    <div class="row">
      <div class="card col s12 m6 offset-m3 l4 offset-l4">
        <div class="card-content">
          <h5>Recuperación de contraseña</h5>
          <div class="row">
            <p class="flow-text" id="retrieve">Si el usuario ingresado es válido, se enviará un correo electrónico a la dirección registrada</p>
            <p class="flow-text" id="retrieve">El correo puede tardar unos minutos en llegar, si no encuentras el correo busca en tu bandeja de spam</p>
          </div>
        </div>
      </div>
    </div>
  <?php endif; ?>
  <?php if($data['recovered'] == 1): ?>
    <div class="row">
      <div class="card col s12 m6 offset-m3 l4 offset-l4">
        <div class="card-content">
          <h5 class="green-text">Contraseña reestablecida correctamente</h5>
          <div class="row">
            <p class="flow-text" class="green-text">Inicia sesión con tu nueva contraseña</p>
          </div>
        </div>
      </div>
    </div>
  <?php endif; ?>
  <?php if($data['userNotFound'] == 1): ?>
    <div class="row">
      <div class="card col s12 m6 offset-m3 l4 offset-l4">
        <div class="card-content">
          <h5 class="red-text">Usuario no encontrado</h5>
          <div class="row">
            <p class="flow-text" id="retrieve">Verifica que el usuario ingresado sea válido</p>
          </div>
        </div>
      </div>
    </div>
  <?php endif; ?>
  <div class="row">
    <div class="card col s12 m6 offset-m3 l4 offset-l4">
        <div class="card-content">
            <span class="card-title olive-text text-darken-2 fluid-text"><h4>Inicio de sesión</h4></span>
            <?php if($data['failed'] == 1): ?>
              <p class="red-text flow-text" class="retrieve">El usuario y/o contraseña ingresada es incorrecta</p>
            <?php endif; ?>
            <form method="post" class="row">
                <div class="input-field">
                    <input type="text" name="usuario" id="usuario">
                    <label for="usuario">Usuario</label>
                </div>
                <div class="input-field">
                    <input type="password" name="contrasenia" id="contrasenia">
                    <label for="contrasenia">Contraseña</label>
                </div>
                <br>
                <a href="/cuentas/recuperar">Recuperar contraseña</a>
                <br>
                <div class="input-field right">
                    <button type="submit" class="btn-large">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>
<?=$this->fetch('_footer.phtml', $footer) ?>
