<?=$this->fetch('_header.phtml', $header) ?>
    <div class="row">
        <div class="card col s12 m6 offset-m3 l4 offset-l4">
            <div class="card-content">
                <span class="card-title olive-text text-darken-2 fluid-text">
                    <h4>Recuperar contraseña</h4>
                </span>
                <p>Toma en cuenta que tu nueva contraseña:</p>
                <ul>
                    <li>1.- Deberá contener al menos 8 caracteres y no más de 20</li>
                    <li>2.- Deberá tener un número, una mayúscula y un caracter especial (sólo son admitidos * ! # . @ &)</li>
                    <li>3.- No deberá tener espacios vacíos</li>
                </ul>
                <form method="post" class="row" id="contra">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="usuario" id="usuario" required>
                            <label for="usuario">Usuario</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" name="contrasenia" id="contrasenia" required>
                            <label for="contrasenia">Nueva Contraseña</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" id="confirmacion" required>
                            <label for="confirmacion">Confirma contraseña</label>
                        </div>
                        <div class="input-field right col s12">
                            <button type="submit" class="btn-large">Recuperar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<?=$this->fetch('_footer.phtml', $footer) ?>