<?=$this->fetch('_header.phtml', $header) ?>
<div class="row">
    <div class="card col s12 m6 offset-m3 l4 offset-l4">
        <div class="card-content">
            <span class="card-title olive-text text-darken-2 fluid-text"><h4>Recuperar contraseña</h4></span>
            <form method="post" class="row">
                <div class="input-field">
                    <input type="text" name="usuario" id="usuario">
                    <label for="usuario">Usuario</label>
                </div>
                <div class="input-field right">
                    <button type="submit" class="btn-large">Recuperar</button>
                </div>
            </form>
        </div>
    </div>
    
</div>
<?=$this->fetch('_footer.phtml', $footer) ?>
