<?=$this->fetch('_header.phtml', $header); ?>
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">
                <?php echo isset($cuentase) ? "Editar" : "Registrar"?> cuenta</h2>
        </div>
    </div>
    <div class="row">
        <form method="post" class="col s12 m8 offset-m2">
            <div class="row">
                <div class="input-field col s12 m8 offset-m2 l8 offset-l2">

                    <select name="id" id="id" required>
                        <?php if(isset($cuentase)): ?>
                        <option selected value="<?=$cuentase['id']?>">
                            <?=$cuentase['nombre']?>
                        </option>
                        <?php else: ?>
                        <option disabled selected>Selecciona empleado</option>
                        <?php foreach ($cuentas as $cuenta): ?>
                        <option value="<?=$cuenta['id']?>" <?php if(isset($cuentase) && $cuentase[ 'nombre']==$ cuenta[ "nombre"]) echo
                            "selected" ?>>
                            <?=$cuenta['nombre']?>
                        </option>
                        <?php endforeach;?>
                        <?php endif; ?>
                    </select>
                    <label for="id">Empleado</label>
                </div>
            </div>
            <div class="row">
                <div class="card col s12 m8 offset-m2 l8 offset-l2 cuenta" <?php if(!isset($cuentase)): ?>hidden
                    <?php endif; ?>>
                    <div class="card-content">
                        <h5>Antes de añadir una nueva cuenta a un empleado toma en cuenta que la contraseña:</h5>
                        <ul>
                            <li>1.- Deberá contener al menos 8 caracteres y no más de 20</li>
                            <li>2.- Deberá tener un número, una mayúscula y un caracter especial (sólo son admitidos * ! # .
                                @ &)</li>
                            <li>3.- No deberá tener espacios vacíos</li>
                        </ul>
                        <div class="row">
                            <div class="input-field col s12">
                                <select multiple name="rol[]" id="rol" required>
                                    <?php if(!isset($cuentase)): ?>
                                    <option disabled selected>Selecciona roles</option>
                                    <?php endif; ?>
                                    <?php foreach ($roles as $rol): ?>
                                    <option value="<?=$rol['id']?>" <?php if(isset($cuentase) && in_array($rol[ 'id'], $cuentaRol)) echo "selected" ?>>
                                        <?=$rol['nombre'].': '.$rol['descripcion']?>
                                    </option>
                                    <?php endforeach;?>
                                </select>
                                <label for="rol">Roles</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="usuario" id="usuario" type="text" class="validate" autocomplete="off" required value="<?php echo isset($cuentase) ? $cuentase['usuario'] : ''?>">
                                <label for="usuario" data-error="Debes completar este campo">Nombre de usuario</label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="contrasenia" id="contrasenia" type="password" autocomplete="off" required>
                                <label for="contrasenia" data-error="Debes completar este campo">Contraseña del usuario</label>
                            </div>
                        </div>
                        <br>
                        <div class="row col s12">
                            <div class="input-field">
                                <?php if(isset($cuentase)): ?>
                                <button class="btn-large waves-effect waves-light right" type="submit">Guardar
                                    <i class="material-icons right">save</i>
                                </button>
                                <a class="btn-large waves-effect waves-light amber darken-2 right" href="javascript:window.history.back();">Cancelar
                                    <i class="material-icons right">clear</i>
                                </a>
                                <!-- Modal Trigger -->
                                <button data-target="eliminacion" class="btn-large waves-effect waves-light red modal-trigger left">Eliminar
                                    <i class="material-icons right">delete</i>
                                </button>
                                <?php else: ?>
                                <button class="btn-large waves-effect waves-light right" type="submit">Registrar
                                    <i class="material-icons right">send</i>
                                </button>
                                <?php endif; ?>
                            </div>
                        </div>
                        <!-- Modal Structure -->
                        <div id="eliminacion" class="modal">
                            <div class="modal-content">
                                <h4>Confirmar eliminación de persona</h4>
                                <p>¿Está seguro que desea
                                    <span class="red-text">eliminar peramentemente</span> esta persona?</p>
                                <span class="red-text">Esta acción no puede revertirse</span>
                            </div>
                            <div class="modal-footer">
                                <button class="btn-large waves-effect waves-light green left" type="button" onclick="window.location='/personas/eliminar?id=<?=htmlspecialchars($persona['id'])?>';">Sí
                                    <i class="material-icons right">delete</i>
                                </button>
                                <button class="btn-large waves-effect waves-light red modal-action modal-close" type="button" style="float: right;">No
                                    <i class="material-icons right">block</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <?=$this->fetch('_footer.phtml', $footer); ?>