<?=$this->fetch('_header.phtml', $header); ?>
<div class="row">
    <div class="col l4">
        <div id="agenda"></div>
    </div>
    <div class="col l8">
        <div id="calendar"></div>
    </div>
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
    <div class="loader">
        <div class="row">
          <h5 class="center">Cargando información del evento</h5>
        </div>
        
        <div class="row">
          <div class="col s4 push-s4 center">
            <div class="preloader-wrapper active">
              <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
      <div class="evento" hidden>
        <h4 id="nombre" href="/clientes/detalles/<?=$cliente['persona']?>"></h4>
        <h5>Cliente: <span id="cliente"></span></h5>
        <p id="descripcion"></p>
        <ul id="tareas" class="collapsible" data-collapsible="accordion">
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
 </div>
<?=$this->fetch('_footer.phtml', $footer); ?>