<?=$this->fetch('_header.phtml', $header); ?>
<div class="row">
    <div class="col s12 m10 l8 push-m1 push-l2 card-panel">        
        <h1 class="center">Estrategia Culinaria</h1>
        <h3 class="center">No tiene permisos para realizar esta acción.></h3>
        <h3 class="center">Si cree que es un error, contacte al administrador.></h3>
    </div>
</div>
<?=$this->fetch('_footer.phtml', $footer); ?>