<?=$this->fetch('_header.phtml', $header) ?>
<div class="row">
    <div class="col s12 m10 l8 push-m1 push-l2 card-panel">
        <h4>404 - El recurso solicitado no se ha encontrado</h4>
        <p class="flow-text">Es posible que la dirección esté escrita incorrectamente o el enlace haya expirado.</p>
        <p class="flow-text">Si cree que esto es un error, contacte al administador.</p>
    </div>
</div>

<?=$this->fetch('_footer.phtml', $footer) ?>