<?=$this->fetch('_header.phtml', $header) ?>
<div class="row">
    <div class="col s12 m10 l8 push-m1 push-l2 card-panel">
        <h4><?=$titulo?></h4>
        <p class="flow-text"><?=$mensaje?></p>
    </div>
</div>

<?=$this->fetch('_footer.phtml', $footer) ?>